<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="../assets/css/main.css">

</head>

<body>
    <div class="header1">
        <div class="container">
            <div class="header1__inner">
                <a href="#!" class="header1__logo">
                    <img src="../assets/img/header/logo1.svg" alt="" class="header1__logo--icon">
                    <span class="header1__logo--brand">Sales.io</span>
                </a>
                <nav class="header1__navbar">
                    <ul class="header1__list">
                        <li class="header1__item">
                            <a href="" class="header1__item--link">Home</a>
                            <ul class="header1__sub--list">
                                <li class="header1__item">
                                    <a href="" class="header1__item--link">Home 1</a>
                                </li>
                                <li class="header1__item">
                                    <a href="" class="header1__item--link">Home 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header1__item">
                            <a href="" class="header1__item--link">Dashboard</a>
                            <ul class="header1__sub--list">
                                <li class="header1__item">
                                    <a href="" class="header1__item--link">Dashboard 1</a>
                                </li>
                                <li class="header1__item">
                                    <a href="" class="header1__item--link">Dashboard 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header1__item">
                            <a href="" class="header1__item--link">Products</a>
                        </li>
                        <li class="header1__item">
                            <a href="" class="header1__item--link">Analytics</a>
                        </li>
                    </ul>
                    <a href="#!" class="header1__button">Login</a>
                </nav>
                <label for="header1__toggle-menu" class="header1__toggle-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
                        <g clip-path="url(#clip0_1545_14924)">
                            <path d="M31.3758 4.93771H1.2998" stroke="#000001" stroke-width="2.31353"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M31.3758 16.5054H1.2998" stroke="#000001" stroke-width="2.31353"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M31.3758 28.0731H1.2998" stroke="#000001" stroke-width="2.31353"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_1545_14924">
                                <rect width="32.3895" height="32.3895" fill="white"
                                    transform="translate(0.143066 0.310608)" />
                            </clipPath>
                        </defs>
                    </svg>
                </label>
            </div>

            <div class="header1__mobile">
                <input type="checkbox" name="" id="header1__toggle-menu" class="header1__menu--checkbox" hidden>
                <label for="header1__toggle-menu" class="header1__overlay"></label>
                <div class="header1__menu--drawer">
                    <a href="#!" class="header1__logo">
                        <img src="../assets/img/header/logo1.svg" alt="" class="header1__logo--icon">
                        <span class="header1__logo--brand">Sales.io</span>
                    </a>
                    <nav class="header1__navbar">
                        <ul class="header1__list">
                            <li class="header1__item">
                                <a href="" class="header1__item--link">Home</a>
                                <ul class="header1__sub--list">
                                    <li class="header1__item">
                                        <a href="" class="header1__item--link">Home 1</a>
                                    </li>
                                    <li class="header1__item">
                                        <a href="" class="header1__item--link">Home 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header1__item">
                                <a href="" class="header1__item--link">Dashboard</a>
                                <ul class="header1__sub--list">
                                    <li class="header1__item">
                                        <a href="" class="header1__item--link">Dashboard 1</a>
                                    </li>
                                    <li class="header1__item">
                                        <a href="" class="header1__item--link">Dashboard 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header1__item">
                                <a href="" class="header1__item--link">Products</a>
                            </li>
                            <li class="header1__item">
                                <a href="" class="header1__item--link">Analytics</a>
                            </li>
                        </ul>
                        <a href="#!" class="header1__button">Login</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <a href="../index.html" class="exit__btn">Exit</a>
</body>

</html>