<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key Down Action</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <section class="keyDown">
        <div class="keyDown__inner">
            <div class="keyDown__actionNumber">
                <span class="keyDown__actionNumber--number">0</span>
            </div>
            <div class="keyDown__grid">
                <div class="keyDown__grid--col key">
                    <span class="keyDown__grid--desc">Key</span>
                    <span class="keyDown__grid--info">0</span>
                </div>

                <div class="keyDown__grid--col location">
                    <span class="keyDown__grid--desc">Location</span>
                    <span class="keyDown__grid--info">0</span>
                </div>

                <div class="keyDown__grid--col which">
                    <span class="keyDown__grid--desc">Which</span>
                    <span class="keyDown__grid--info">0</span>
                </div>

                <div class="keyDown__grid--col code">
                    <span class="keyDown__grid--desc">Code</span>
                    <span class="keyDown__grid--info">0</span>
                </div>
            </div>
        </div>
        <a href="../index.html" class="exit__btn">Exit</a>
    </section>
</body>
</html>